
 /* Icons */
.pf-panel-header-action-icon{float:right; cursor:pointer;  margin-left: 5px;}
.jeeslPanelHeaderIcon{float:right; cursor:pointer;  margin-left: 5px;}
.jeeslGridCellIcon{float:right; cursor:pointer;  margin-left: 5px;}

.ui-growl {left:20px;}

.pf-dataTable-header-action-icon{
	cursor:pointer;
	margin-left: 5px;
	float: right;
	padding-top: 5px;
}

.pf-dataTable-footer-action-icon{
    cursor:pointer;
	text-align: right;
}


.pf-dialog-header-action-icon{
	cursor:pointer;
	padding-top: 5px;
	margin-left: 5px;
	float: right;
}
.pf-digalog-action .ui-dialog-title{
	width: 100%;
}


 /* http://stackoverflow.com/questions/6636813/best-practice-for-readonly-edition-modes-in-jsf */
.pfInputTextDisabled {
    border: 0 !important;
    box-shadow: none !important;
    outline: 0 !important;
}

/***********************************************************************************/
/********************** Primefaces Dialog              *****************************/

.jeeslDialogActions {
	cursor:pointer;
	position: absolute;
	right: 10px;
	bottom: 11px;
}
.jeeslDialog {background-color: #f1f1f1;}

.jeeslRed {color: red;}
.jeeslLightGray {color: lightgray;}

/***********************************************************************************/
/********************** Primefaces Panel               *****************************/
/* Removes borders from cells of PanelGrid */
.auPanelWithGrid .ui-panelgrid .ui-panelgrid-cell {border-style: none !important;}
.jeeslPanel .ui-panelgrid .ui-panelgrid-cell {border-style: none !important;}

/* Remove the padding within the panel*/            
.auPanelWithGrid .ui-panel-content {padding: 0 !important;}
.jeeslPanel .ui-panel-content {padding: 0 !important;}

/* Removes borders from PanelGrid rows */
.auPanelWithGrid .ui-panelgrid .ui-widget-content {border-style: none !important;}
.jeeslPanel .ui-panelgrid .ui-widget-content {border-style: none !important;}
	
/* Make the PanelGrid fill the whole Panel */
.auPanelWithGrid .ui-panelgrid {width: 100%;}
.jeeslPanel .ui-panelgrid {width: 100%;}

/* .auPanelWithGrid .ui-spinner-button {left:0!important} */
/* .jeeslPanel .ui-spinner-button {left:0!important} */

/* This one makes the shadows for input components disappear */
.jeeslPanel * .ui-inputfield, .jeeslPanel * .ui-widget-content .ui-inputfield, .jeeslPanel * .ui-widget-header .ui-inputfield {box-shadow: none !important;}

/* Makes all input elements use the full width of the parent container
   For SelectOneMenu this is realized by introducing a p:panelGrid with layout=block that renders a DIV
*/

/***********************************************************************************/

/* Defines the columns for multi-column standard layouts */
.auPwg05 {width: 05% !important; border-style: none;}
.auPwg10 {width: 10% !important; border-style: none;}
.auPwg15 {width: 15% !important; border-style: none;}
.auPwg20 {width: 20% !important; border-style: none;}
.auPwg25 {width: 25% !important; border-style: none;}
.auPwg30 {width: 30% !important; border-style: none;}
.auPwg35 {width: 35% !important; border-style: none;}
.auPwg40 {width: 40% !important; border-style: none;}
.auPwg45 {width: 45% !important; border-style: none;}
.auPwg50 {width: 50% !important; border-style: none;}
.auPwg55 {width: 55% !important; border-style: none;}
.auPwg60 {width: 60% !important; border-style: none;}
.auPwg65 {width: 65% !important; border-style: none;}
.auPwg70 {width: 70% !important; border-style: none;}
.auPwg75 {width: 75% !important; border-style: none;}
.auPwg80 {width: 80% !important; border-style: none;}
.auPwg85 {width: 85% !important; border-style: none;}
.auPwg90 {width: 90% !important; border-style: none;}
.auPwg95 {width: 95% !important; border-style: none;}
.auPwg100 {width: 100% !important; border-style: none;}

/* Defines the columns for multi-column standard layouts */
.jeeslGrid05 {width: 05% !important; border-style: none;}
.jeeslGrid10 {width: 10% !important; border-style: none;}
.jeeslGrid15 {width: 15% !important; border-style: none;}
.jeeslGrid20 {width: 20% !important; border-style: none;}
.jeeslGrid25 {width: 25% !important; border-style: none;}
.jeeslGrid30 {width: 30% !important; border-style: none;}
.jeeslGrid35 {width: 35% !important; border-style: none;}
.jeeslGrid40 {width: 40% !important; border-style: none;}
.jeeslGrid45 {width: 45% !important; border-style: none;}
.jeeslGrid50 {width: 50% !important; border-style: none;}
.jeeslGrid55 {width: 55% !important; border-style: none;}
.jeeslGrid60 {width: 60% !important; border-style: none;}
.jeeslGrid65 {width: 65% !important; border-style: none;}
.jeeslGrid70 {width: 70% !important; border-style: none;}
.jeeslGrid75 {width: 75% !important; border-style: none;}
.jeeslGrid80 {width: 80% !important; border-style: none;}
.jeeslGrid85 {width: 85% !important; border-style: none;}
.jeeslGrid90 {width: 90% !important; border-style: none;}
.jeeslGrid95 {width: 95% !important; border-style: none;}
.jeeslGrid100 {width: 100% !important; border-style: none;}

.jeeslW100 {width: 100%;}

.pf-panel-with-tree {.ui-panel-content.padding: 0px;}
.pf-panel-with-tree .ui-tree {border: none; width: 100%;}

.jeeslTree {.ui-panel-content.padding: 0px;}
.jeeslTree .ui-tree {border: none; width: 100%;}

/*Timeline fixes*/
div.timeline-content {position: absolute !important;}
div.timeline-frame {background-color: #f1f1f1; margin-left: -14px; margin-top: -6px; margin-bottom: -8px; width: 100% !important ; padding-right: 27px;} 
[class*="ui-panel ui-widget ui-widget-content ui-corner-all jeeslTimeline"] {background-color: #f1f1f1 !important;}
[class*="ui-panel ui-widget ui-widget-content ui-corner-all jeeslTimeline"]>[class*="ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all"] {margin-right: -4px; margin-left: -3px; margin-top: -3px; margin-bottom: -1px;}


.auPfTcLeft {text-align:left}
.jeeslPfTcCenter {text-align:center}
.jeeslPfTcRight {text-align:right}
.auPfTcRight {text-align:right}

.jeeslCenter {text-align:center}
.jeeslRight {text-align:right}
.jeeslRight5 {margin-right: 5px;}

.jeeslPanel .ui-widget-content {background-color: transparent;}
.jeeslPanel {background-color: #f1f1f1;}

.jeeslTree .ui-widget-content {background-color: transparent;}
.jeeslTree {background-color: #f1f1f1;}

.jeeslPanel * .ui-widget-header .ui-inputfield, .jeeslPanel * .ui-widget-content .ui-inputfield {border: 0;white-space: normal;overflow: hidden;font-weight: normal;width: 85%;text-align: left; padding: 2px;}

.ui-selectonemenu > .ui-inputfield {width: 100% !important;}

/*calendar button fix !!!!!!!!!!!!!*/
 /* Guarantuees that the p:calendar is shown without linebreak between input field and button */
.jeeslPanel *.ui-calendar > .hasDatepicker {
     width: 82%;
 }

/*spinner on right */
input[class="ui-spinner-input ui-inputfield ui-state-default ui-corner-all"]{text-align:left;width: 96% !important;}
input[class="ui-spinner-input ui-inputfield ui-state-default ui-corner-all ui-state-focus"]{text-align:left;width: 96% !important;}
input[class="ui-spinner-input ui-inputfield ui-state-default ui-corner-all ui-state-hover"]{text-align:left;width: 96% !important;}
input[class="ui-spinner-input ui-inputfield ui-state-default ui-corner-all ui-state-hover ui-state-focus"]{text-align:left;width: 96% !important;}
input[class="ui-spinner-input ui-inputfield ui-state-default ui-corner-all ui-state-focus ui-state-hover"]{text-align:left;width: 96% !important;}

.jeeslDtHighlightNone{background-color: rgb(255, 255, 255);}
.jeeslDtHighlightLight{background-color: rgb(221, 226, 239);}
.jeeslDtHighlightStrong{background-color: rgb(121, 126, 139);}

.jeeslDtCellTable {}
.jeeslDtCellTable td {border-top: 0; border-bottom: 0; border-right: 0;border-left: 0;}
.jeeslDtCellTable tr:first-child td {border-top: 0; border-bottom: 0; border-right: 0; border-left: 0; padding: 0;}
.jeeslDtCellTable tr td:first-child {border-top: 0; border-bottom: 0; border-right: 0; border-left: 0; padding: 0;}
.jeeslDtCellTable tr:last-child td {border-top: 0; border-bottom: 0; border-right: 0; border-left: 0; padding: 0;}
.jeeslDtCellTable tr td:last-child {border-right: 0; border-top: 0; border-bottom: 0; border-left: 0;padding: 0;}


.jeeslPanel .ui-panelgrid .ui-panelgrid-cell {padding-right: 13px;}

/* moves selectonemenu-button a bit more left (looks better on jeeslPanel)*/
.ui-selectonemenu {	padding-right: 1em !important;}
/* caption let the table stay on one line */
.ui-selectonemenu-panel{display: table-caption} 

/* adjust rendered html content on vacancys.xhtml    */
.jeeslHTML * p {margin: 0 0 -10px 15px; padding-top: 5px}
.jeeslHTML * ul li {display: list-item; list-style-type: disc; list-style-position: inside; margin-left: 20px;}
.jeeslHTML * ol li {display: list-item; list-style-type: numbers; list-style-position: inside; margin-left: 20px;}